@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Today's cat</h1>
    <h2>@Model.MyCatFact.fact</h2>
    <p></p>
    <img src="@Model.CatImagePath" width="300px" />
</div>
